<config template="project (default)" platform="project">Created: Tue Apr 21 23:46:35 2015&#xd;
By: Julian&#xd;
Using Template: project (default)&#xd;
&#xd;
&lt;description to go here><option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="Torque" fromDef="true"/>
    <option name="caption" value="Torque" fromDef="true"/>
    <option name="provider" value="Julian" fromDef="true"/>
    <option name="copyright" value="(C) Julian" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
