<config template="win32 (default)" platform="win32">Created: Tue Apr 21 23:54:34 2015
By: Julian
Using Template: win32 (default)

&lt;description to go here>
<option fromDef="true" name="win32-pref-processtitle" value=""/>
    <option fromDef="true" name="win32-gles-directory" value=""/>
    <option fromDef="true" name="win32-icon" value=""/>
    <option fromDef="true" name="target-dir" value=""/>
    <option fromDef="true" name="win32-inno-name" value=""/>
    <option fromDef="true" name="win32-inno-text" value=""/>
    <option fromDef="true" name="win32-inno-bmp" value=""/>
    <option fromDef="true" name="win32-inno-icon" value=""/>
    <option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="GridNova"/>
    <option fromDef="true" name="caption" value="GridNova"/>
    <option fromDef="true" name="provider" value="Julian"/>
    <option fromDef="true" name="copyright" value="(C) Julian"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
