<config template="win32 (default)" platform="win32">Created: Tue Apr 21 23:54:34 2015&#xd;
By: Julian&#xd;
Using Template: win32 (default)&#xd;
&#xd;
&lt;description to go here><option name="win32-pref-processtitle" value="" fromDef="true"/>
    <option name="win32-gles-directory" value="" fromDef="true"/>
    <option name="win32-icon" value="" fromDef="true"/>
    <option name="target-dir" value="" fromDef="true"/>
    <option name="win32-inno-name" value="" fromDef="true"/>
    <option name="win32-inno-text" value="" fromDef="true"/>
    <option name="win32-inno-bmp" value="" fromDef="true"/>
    <option name="win32-inno-icon" value="" fromDef="true"/>
    <option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="Torque" fromDef="true"/>
    <option name="caption" value="Torque" fromDef="true"/>
    <option name="provider" value="Julian" fromDef="true"/>
    <option name="copyright" value="(C) Julian" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
</config>
